# C++ and Dev-C++
*.o
*.layout

# RStudio
.RData
.Rhistory

# Temp files
*~
\#*\#
\*R\*
*.backup

# Build files
build

# Tool files
tools/experiments/output
tools/experiments/config
tools/partikules/out*
tools/partikules/*.mp3
tools/partikules/*.mp4
tools/partikules/particle-positions*

